<section
  class="flex flex-col h-screen justify-center px-[var(--container-padding)]"
>
  <div
    class="flex flex-col mx-auto text-[1.125rem] text-[var(--color-text)] max-w-[452px] w-full gap-[0.625rem]"
  >
    <h2 class="text-black text-[2.25rem]">Lets work together</h2>
    <a class="underline" href="mailto:filippnekhaev@gmail.com"
      >filippnekhaev@gmail.com</a
    >
    <a
      class="underline"
      target="_blank"
      href="https://www.linkedin.com/in/filipp-nekhaev/">LinkedIn</a
    >
  </div>
</section>
