<section
  id="hero"
  class="text-center h-screen flex flex-col justify-center gap-4 px-[var(--container-padding)]"
>
  <h1 class="text-[2.375rem] font-semibold leading-none">Filipp Nekhaev</h1>
  <div class="flex flex-col text-[1.125rem] text-[var(--color-description)]">
    <p class="">Senior Product Designer</p>
    <p class="opacity-60">UI/UX Designer</p>
    <p class="opacity-20">Web Designer</p>
  </div>
</section>
