---
import { Image } from "astro:assets";

import { loadImages } from "@/utils/loadImages";
const imageModules = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/main/photoslider/*.{jpeg,jpg,png,gif}"
);
const sliderImages = await loadImages(imageModules);
---

<section class="flex flex-col justify-center pt-[12.6rem]">
  <div class="flex flex-col items-center">
    <div
      class="text-[1.125rem] text-[var(--color-text)] max-w-[452px] pb-[1.5rem] px-[var(--container-padding)]"
    >
      When I'm not at my desk, you'll find me traveling with my wife and our dog
      - exploring new cities, trying local food, and taking way too many photos.
      These moments away from screens tend to be when the best ideas show up
      unexpectedly.
    </div>
  </div>
  <div>
    <!-- Horizontal snap scroller -->
    <div
      class="flex gap-4 py-[4.375rem] overflow-x-auto overflow-visible scroll-smooth snap-x snap-mandatory no-scrollbar items-end
      px-[var(--container-padding)] scroll-px-[var(--container-padding)] lg:px-[var(--offset-left)] lg:scroll-px-0 lg:pb-0"
      style="--offset-left: calc(50vw - (1200px/2) + 375px + 20px);"
      tabindex="0"
      role="region"
      aria-label="Media carousel"
    >
      {
        sliderImages.map((image, i) => (
          <Image class="snap-center max-h-[400px]" src={image} alt="" />
        ))
      }
    </div>
  </div>
</section>
