  <section class="flex flex-col justify-center px-[var(--container-padding)]">
    <div class="flex flex-col items-center">
      <div
        class="text-[1.125rem] text-[var(--color-text)] max-w-[452px] pb-[1.5rem]"
      >
        When I'm not at my desk, you'll find me traveling with my wife and our
        dog - exploring new cities, trying local food, and taking way too many
        photos. These moments away from screens tend to be when the best ideas
        show up unexpectedly.
      </div>
    </div>
    slider
    <div>
      <!-- Horizontal snap scroller -->
      <div
        class="flex gap-4 px-4 overflow-x-auto overflow-y-hidden snap-x snap-mandatory scroll-smooth touch-pan-x no-scrollbar"
        tabindex="0"
        role="region"
        aria-label="Media carousel"
      >
        <!-- <Image src={photo1} alt="A bird sitting on a nest of eggs." />
        <Image src={photo4} alt="A bird sitting on a nest of eggs." />
        <Image src={photo2} alt="A bird sitting on a nest of eggs." />
        <Image src={photo3} alt="A bird sitting on a nest of eggs." /> -->
      </div>
    </div>
  </section>