---
import PortfolioCard from "@components/cards/PortfolioCard.astro";

const sideProjects = [
  {
    href: "/projects/fill-wise?from=side-projects",
    title: "FillWise",
    years: "Side Project 2025",
    image: "portfolio_main/FillWise-min.png",
    mobileImage: "/portfolio_main/FillWise_s-min.png",
  },
  {
    href: "/projects/ai-hair?from=side-projects",
    title: "AIHAIRSTYLE.IO",
    years: "Side Project 2025",
    image: "portfolio_main/Hairstyle-min.png",
    mobileImage: "portfolio_main/Hairstyle_s-min.png",
  },
  {
    href: "/projects/re-writing?from=side-projects",
    title: "Re:Writing",
    years: "Side Project 2019",
    image: "portfolio_main/rewriting-min.png",
    mobileImage: "portfolio_main/rewriting_s-min.png",
  },
];
---

<section
  class="w-full m-auto max-w-[1200px] lg:pb-[12.5rem]"
  aria-labelledby="side-projects-heading"
>
  <h3
    id="side-projects-heading"
    class="text-text text-[1.125rem] mb-[1.5rem] px-[var(--container-padding)]"
  >
    Side projects
  </h3>
  <div
    id="side-projects"
    class="grid grid-flow-col auto-cols-[90%] sm:auto-cols-auto sm:grid-flow-row gap-[1.5rem]
    overflow-x-auto sm:overflow-visible scroll-smooth snap-x snap-mandatory no-scrollbar
    px-[var(--container-padding)] sm:px-[var(--container-padding)]
    sm:grid-cols-2 lg:grid-cols-3
    scroll-px-[var(--container-padding)]"
    aria-label="Side projects gallery"
  >
    {
      sideProjects.map((item, i) => (
        <PortfolioCard {...item} class="snap-center" />
      ))
    }
  </div>
</section>
