---
import PortfolioCard from "@/components/cards/PortfolioCard.astro";
import SideProjects from "./SideProjects.astro";

// Images
import travelImg from "@/assets/travle.jpg";
import mtsImg from "@/assets/mts.jpg";
import alohaImg from "@/assets/aloha.jpg";
import smartaviaImg from "@/assets/smart_avia.jpg";
import poezdomImg from "@/assets/poezdom.jpg";
import mnfstImg from "@/assets/mnfst.jpg";

const works = [
  {
    href: "/projects/alfa-travel",
    title: "Alfa-Travel",
    years: "2023–2025",
    image: travelImg,
  },
  {
    href: "/projects/mts",
    title: "MTS",
    years: "2022–2023",
    image: mtsImg,
  },
  {
    href: "/projects/aloha-mobile",
    title: "Aloha Mobile",
    years: "2020–2022",
    image: alohaImg,
  },
  {
    href: "/projects/smart-avia",
    title: "SmartAvia",
    years: "Freelance 2019",
    image: smartaviaImg,
  },
  {
    href: "/projects/poezdom-ios-app",
    title: "Poezdom iOS app",
    years: "Freelance 2019",
    image: poezdomImg,
  },
  {
    href: "/projects/mnfst",
    title: "MNFST",
    years: "Freelance 2018",
    image: mnfstImg,
  },
];

const spanForIndex = (i: number) => {
  const p = i % 6;
  if (p === 0) return ["col-span-full"]; // full width
  if (p === 1) return ["lg:col-span-2"]; // 2/3
  return ["lg:col-span-1"];
};
---

<section class="w-full max-w-[1200px] mx-auto pb-[6.25rem]">
  <h2
    class="text-[2.25rem] font-semibold text-center mb-[3.75rem] px-[var(--container-padding)]"
  >
    Works
  </h2>
  <div
    class="grid grid-flow-col auto-cols-[90%] sm:grid-flow-row sm:auto-cols-auto
  gap-[1.5rem] overflow-x-auto sm:overflow-visible scroll-smooth snap-x snap-mandatory no-scrollbar
  px-[var(--container-padding)] sm:px-[var(--container-padding)] sm:grid-cols-2 lg:grid-cols-3
  scroll-px-[var(--container-padding)] pb-[6.25rem] lg:pb-[4.5rem]"
  >
    {
      works.map((work, i) => (
        <PortfolioCard
          {...work}
          class:list={[...spanForIndex(i), "snap-center"]}
        />
      ))
    }
  </div>
  <SideProjects />
</section>
