---
import PortfolioCard from "@/components/cards/PortfolioCard.astro";
import SideProjects from "./SideProjects.astro";

const works = [
  {
    href: "/projects/alfa-travel?from=works",
    title: "Alfa-Travel",
    years: "2023–2025",
    image: "/portfolio_main/Alfa-min.png",
    mobileImage: "/portfolio_main/Alfa_s-min.png",
  },
  {
    href: "/projects/mts?from=works",
    title: "MTS",
    years: "2022–2023",
    image: "/portfolio_main/MTS-min.png",
    mobileImage: "/portfolio_main/MTS_s-min.png",
  },
  {
    href: "/projects/aloha-mobile?from=works",
    title: "Aloha Mobile",
    years: "2020–2022",
    image: "/portfolio_main/Aloha-min.png",
    mobileImage: "/portfolio_main/Aloha-min.png",
  },
  {
    href: "/projects/smart-avia?from=works",
    title: "SmartAvia",
    years: "Freelance 2019",
    image: "/portfolio_main/smartAvia-min.png",
    mobileImage: "/portfolio_main/smartAvia_s-min.png",
  },
  {
    href: "/projects/poezdom-ios-app?from=works",
    title: "Poezdom iOS app",
    years: "Freelance 2019",
    image: "/portfolio_main/Poezdom-min.png",
    mobileImage: "/portfolio_main/Poezdom_s-min.png",
  },
  {
    href: "/projects/mnfst?from=works",
    title: "MNFST",
    years: "Freelance 2018",
    image: "/portfolio_main/MNFST-min.png",
    mobileImage: "/portfolio_main/MNFST_s-min.png",
  },
];

const spanForIndex = (i: number) => {
  const p = i % 6;
  if (p === 0) return ["col-span-full"]; // full width
  if (p === 1) return ["lg:col-span-2"]; // 2/3
  return ["lg:col-span-1"];
};
---

<section class="w-full mx-auto pb-[6.25rem]">
  <div class="relative">
    <div
      class="absolute inset-0
              before:content-[''] before:absolute before:inset-0
              before:bg-[#74ABF7]/50 before:blur-[500px]
              before:rounded-full before:-z-10"
    >
    </div>
    <h2
      class="text-[2.25rem] font-semibold text-center mb-[3.75rem] px-[var(--container-padding)]"
    >
      Works
    </h2>
    <div
      id="works"
      class="max-w-[1200px] grid grid-flow-col auto-cols-[90%] sm:grid-flow-row sm:auto-cols-auto
  gap-[1.5rem] overflow-x-auto sm:overflow-visible scroll-smooth snap-x snap-mandatory no-scrollbar
  px-[var(--container-padding)] sm:px-[var(--container-padding)] sm:grid-cols-2 lg:grid-cols-3
  scroll-px-[var(--container-padding)] pb-[6.25rem] lg:pb-[4.5rem] lg:px-[var(--container-padding)] mx-auto"
    >
      {
        works.map((work, i) => (
          <PortfolioCard
            {...work}
            class:list={[...spanForIndex(i), "snap-center"]}
          />
        ))
      }
    </div>
  </div>
  <SideProjects />
</section>
