@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --container-padding: 1.875rem;

  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text: #595959;
  --color-description: #73808c;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dragging {
    @media (min-width: 768px) {
      scroll-behavior: auto;
      cursor: grabbing !important;
      user-select: none !important;
      scroll-snap-type: none !important;
      scroll-snap-align: none !important;

      img {
        pointer-events: none !important;
        scroll-snap-type: none !important;
        scroll-snap-align: none !important;
      }
    }
  }
}
