---
import Hero from "./Hero.astro";
import About from "./About.astro";
import Works from "./Works.astro";
import CareerPath from "./CareerPath.astro";
import PersonalLife from "./PersonalLife.astro";
import ContactMe from "./ContactMe.astro";
---

<main>
  <Hero />
  <About />
  <Works />
  <CareerPath />
  <section>
    <h2>Side Projects</h2>
  </section>
  <PersonalLife />
  <ContactMe />
</main>
