---
import Layout from "@/layouts/Project.astro";
import Heading from "@/components/ui/Heading.astro";
import Text from "@/components/ui/Text.astro";
import ProjectContnetWrapper from "@/components/ui/ProjectContnetWrapper.astro";
import SwiperSlider from "@/components/ui/SwiperSlider.astro";
import { loadImages } from "@/utils/loadImages";

const title = "Poezdom iOS app";
const years = "Freelance 2019";

const imageModules = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/Poezdom/*.{jpeg,jpg,png,gif}"
);

const sliderImages = await loadImages(imageModules);
---

<Layout {title} {years}>
  <ProjectContnetWrapper>
    <Heading level={2} size="xl" weight="semibold"
      >Train ticket booking mobile application</Heading
    >
    <Text
      >Freelance project for one of OneTwoTrip managers to design streamlined
      iOS app for Russian train ticket booking, reducing complex multi-step
      processes into intuitive mobile-first experience. Created complete user
      journey from route search to seat selection and payment processing,
      focusing on quick ticket purchase in just a few taps for frequent
      travelers.</Text
    ></ProjectContnetWrapper
  >
  <div class="mt-[60px] mb-[50px]">
    <SwiperSlider {sliderImages} initialWidth="285px" />
  </div>
</Layout>
