---
import { ClientRouter } from "astro:transitions";
//
import "../style/global.css";

export interface Props {
  title?: string;
  description?: string;
  cls?: string;
}

const { title, description, cls = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="font-(family-name:--font-inter)">
    <main class={cls}>
      <slot />
    </main>
  </body>
</html>

<script>
  import { attachAstroLifecycle } from "@/lib/projectEnhancements.ts";
  attachAstroLifecycle();
</script>
