---
import { Image } from 'astro:assets';

export interface Props {
  sliderImages: ImageMetadata[];
  initialWidth: string;
  video?: boolean;
}

const { sliderImages, initialWidth, video=false } = Astro.props;
---

<div
  class="flex items-start gap-[40px] overflow-x-auto overflow-visible scroll-smooth snap-x snap-mandatory lg:snap-none no-scrollbar
      px-[var(--container-padding)] scroll-px-[var(--container-padding)] lg:px-[var(--offset-left)] lg:scroll-px-0 lg:pb-0"
  style=`--offset-left: calc(50vw - (1200px/2) + ${initialWidth} + 20px)`
  tabindex="0"
  role="region"
  aria-label="Media carousel"
>
{  video &&
  (<div class="snap-center"><video   autoplay
  muted
  loop
  playsinline
  preload="auto"
  poster="/video/hero-cover.png"
  class="max-w-[224px]"
  >
    <source src="/video/output.mp4" type="video/mp4">
    <source src="/video/output.webm" type="video/webm">
    Your browser does not support the video tag.
  </video></div>)
}
    {sliderImages.length > 0 &&
      sliderImages.map((image) => (
        <div class="snap-center">
        <Image
          style=`max-width: ${image.width / 2}px`
          src={image}
          width={image.width / 2}
          densities={[1, 2]}
          alt=""
        />
        </div>
      ))
  }
</div>
