---
import "@glidejs/glide/dist/css/glide.core.min.css";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={`glide mySwiper w-full px-[var(--container-padding)] md:px-0 ${className}`}
>
  <div class="glide__track" data-glide-el="track">
    <div class="glide__slides">
      {
        Array.from({ length: 6 }, (_, i) => (
          <div class="glide__slide">
            <img class="cover" src={`/hair/${i + 1}.png`} alt="" />
          </div>
        ))
      }
    </div>
  </div>
</div>

<script>
  import Glide from "@glidejs/glide";
  const glide = new Glide(".mySwiper", {
    type: "slider",
    perView: 1.9,
    focusAt: "center",
    rewind: false,
    gap: 40,
    breakpoints: {
      800: {
        perView: 3,
      },
      480: {
        perView: 1,
        gap: 20,
      },
    },
  });

  glide.mount();
</script>
